html{
    background-color: #bbb;
}
body{
    width: 630px;
    margin: 50px auto;
}
h1{
    margin-top: 1em;
    font-size: 20px;
}
h2{
    margin-left: 2em;
    font-size: 16px;
}
h1, h2{
    border-bottom: 1px solid lemonchiffon;
    font-family: Avenir,Helvetica,Arial,sans-serif;
}
a {
    width: 100%;
    display: inline-block;
    color: lemonchiffon;
    font-size: 2em;
    text-decoration: none;
}